BODY {
    background: url("img/fondo1.jpg") no-repeat center center fixed;
    background-size: cover;
}

h1{
    color: white;
}

.container{
    width: 1024px;
    padding: 0px;

}

.col{
    padding: 0px;
    margin: 0px;
}

/* Cabecera*/

.head{
    background-color: rgb(15, 41, 112);
    height: 100px;
    margin-top: 5px;
    padding-left: 15px;
    padding-top: 10px;
}
.logo{
    width: 80px;
    height: 80px;
}
.divLogo{
    float: left;
    margin-right: 20px;
    margin-left: 50px;
}
.divTitle{
    margin-top: 15px;
}

/*Carrusel*/
.carrusel{
    background-color: rgb(15, 41, 112);
    height: 400px;
    /* margin-top: 3px; */
}
.carousel-item{
    height: 400px;
    width: 1024px;
    margin: 0px;
    padding: 0px;
}
.carousel-item{
    width:400px;
    /*height:80%;*/
}
.carousel-caption-contrast{
    background-color: rgba(15, 41, 112, 0.7);
    padding: 20px;
}

/*Tarjetas*/
.cards{
    background-color: rgb(15, 41, 112);
    height: 600px;
    margin-top: 3px;
    padding: 0px;
}
.tarj{
    /* border: solid 2px white; */
    /* background-color: tomato; */
    height: 300px;
    width: 340px;
    margin: 0px;
    
}
.sinpadding [class*="col-"] {
    padding: 0;
}


