BODY {
    background: url("img/fondo1.jpg") no-repeat center center fixed;
    background-size: cover;
}

h1{
    color: white;
}

.container{
    width: 1024px;
    padding: 0px;

}

.col{
    padding: 0px;
    margin: 0px;
}

/* Cabecera*/

.head{
    background-color: rgb(15, 41, 112);
    height: 100px;
    margin-top: 5px;
    padding-left: 15px;
    padding-top: 10px;
}
.logo{
    width: 80px;
    height: 80px;
}
.divLogo{
    float: left;
    margin-right: 20px;
    margin-left: 50px;
}
.divTitle{
    margin-top: 15px;
}

/*Carrusel*/
.carrusel{
    background-color: rgb(15, 41, 112);
    height: 400px;
    /* margin-top: 3px; */
}
.carousel-item{
    height: 400px;
    width: 1024px;
    margin: 0px;
    padding: 0px;
}
.carousel-item{
    width:400px;
    /*height:80%;*/
}
.carousel-caption-contrast{
    background-color: rgba(15, 41, 112, 0.7);
    padding: 20px;
}

/*Tarjetas*/
.cards{
    background-color: rgb(15, 41, 112);
    height: 650px;
    margin-top: 3px;
    padding: 0px;
}
.sinpadding [class*="col-"] {
    padding: 0;
}

.tarjeta{
    height: 290px;
    width: 320px;
    padding: 0px;
    margin-left: 35px;
    margin-top: 20px;
    background-color: rgba(76, 120, 240, 0.808);
    /* border: 1px solid red; */
    border-radius: 8px;
    float: left;
    
}
.tarjImg{
    width: 320px;
    height: 100px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    object-fit: none;
}
.tarjCont{
    width: 320px;
    height: 140px;
    padding: 0px;
    margin: 0px;
}
.txt-tarj{
    font-size: 12px;
    padding: 0px 10px;
    margin: 0px;
    text-justify: auto;
}
.tarjFooter{
    font-size: 30px;
    text-align: center;
}
.title{
    margin-top: 0px;
    padding: 10px 0px   ;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
}



